<section>
    <h2>Over Mij</h2>
    <div class="about-me-container">
        <div class="text-container">
            <p>Mijn wereld is er één van Computers, smartphones, software, servers, routers en applicaties. Met andere woorden, de wondere wereld van informatie en communicatie technologie. Dit is al van jongs af, een hobby van mij. Sommige mensen zouden misschien zelfs zeggen dat dit mijn verslaving is. Na het VMBO heb ik besloten van deze hobby mijn beroep te maken en verder te gaan in de ICT. Inmiddels heb ik meerdere diploma’s en certificaten behaald en heb ik als ITer werkervaring opgedaan op verschillende onderwijsinstellingen.</p>
            <p>Maar ik ben geen ‘standaard’ ITer die zich alleen maar focust op een beeldscherm. Het meeste plezier haal ik uit helpen van anderen bij hun ICT problemen, en het overdragen van mijn specifieke kennis over dit onderwerp.</p>
            <p>In november 2023 ben ik de uitdaging aangegaan en ben ik gestart met PCandYou met de intentie om zoveel mogelijk mensen in Ureterp en omgeving te helpen bij hun ICT problemen.</p>
        </div>
        <div class="photo-container">
            <img src="{{ site.baseurl }}/assets/alex-de-vegt-pcandyou.webp" alt="pcandyou">
        </div>
    </div>
</section>