<section>
    <h2>Over Mij</h2>
    <div class="about-me-container">
        <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi, aperiam assumenda autem, debitis eaque ex fugiat, magni nesciunt nulla pariatur quia quis recusandae repellendus sed temporibus ullam voluptatum. Accusamus at, error in nisi omnis quasi. Alias, atque consequuntur debitis eos expedita fugit laudantium odit quasi quos vitae! Ad asperiores blanditiis cumque dicta, dolore doloribus eligendi est exercitationem facere hic illum impedit inventore laboriosam, maiores minus nisi non qui quidem ratione reiciendis sequi vitae voluptate! Aliquam animi aut consequatur culpa deleniti dicta earum et facere, fuga, harum illum, ipsum iste iure quam quas rem sequi veniam voluptas voluptatem voluptatibus?</p>
        </div>
        <div class="photo-container">
            <img src="/assets/pcandyou.webp" alt="pcandyou">
        </div>
    </div>
</section>