<section>
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta dignissimos distinctio dolorum, error excepturi illum ipsum laboriosam, maxime numquam obcaecati officia quibusdam tempore. Ab deleniti eveniet laborum nihil officiis perferendis provident qui? Amet, ex expedita itaque labore, modi nam nemo neque odio perferendis porro quasi, tempore tenetur voluptatem! At, cupiditate dolores ducimus eos ex harum inventore itaque laborum magnam maxime molestiae mollitia perferendis quaerat qui quo quos rem saepe sequi sunt voluptas! Accusantium, exercitationem.</p>
    <p>Mijn mailadres is: <a href="mailto:pcandyou09@gmail.com">pcandyou09@gmail.com</a></p>
    <form action="mailto:pcandyou09@gmail.com">
        <button type="submit">Mail nu</button>
    </form>
</section>