<section id="section-contact">
    <h2>Contact</h2>
    <p>PCandYou is ook bereikbaar via email, whatsapp of telefoon</p>
    <ul>
        <li>Naam: Alex de Vegt</li>
        <li>Telefoon: 06-43934002</li>
        <li>WhatsApp: 06-16008027</li>
        <li>Emailadres: pcandyou09@gmail.com</li>
    </ul>
    <p class="italic">Op werkdagen reactie op email en WhatsApp binnen een dag.</p>
    <p>Mijn mailadres is: <a href="mailto:pcandyou09@gmail.com">pcandyou09@gmail.com</a></p>
    <form action="mailto:pcandyou09@gmail.com">
        <button type="submit">Mail nu</button>
    </form>
</section>