<h1>Welkom bij PCandYou</h1>

<img src="{{ site.baseurl }}/assets/computer-parts.webp" alt="computer-parts" class="header-image">

<p>Wat is er nou vervelender dan een niet werkende computer, een netwerk dat uitgevallen is of een niet werkende applicatie?</p>
<p class="main-info-italic">PCandYou levert snelle en persoonlijke service bij IT en computer problemen!</p>
<p>PCandYou is een kleinschalig ICT bedrijf, gespecialiseerd in het ondersteunen van gebruikers bij onderhoud, installatie en beheer van software en applicaties, reparatie van hardware, en montage van netwerk en infrastructuur. We leveren betaalbare ondersteuning bij computer en IT problemen voor particulieren en MKB in Ureterp en omgeving. Persoonlijke aandacht en goede service zijn hierbij uitgangspunten.</p>