<section>
    <h2>Diensten</h2>
    <div class="services-row">
        {% for service in site.data.services %}
            <div class="card">
                <div class="circle"></div>
                <span>{{ service.name }}</span>
            </div>
        {% endfor %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet aperiam, aspernatur consectetur consequuntur culpa delectus doloremque doloribus dolorum, facilis incidunt inventore ipsa iste labore laboriosam laborum maxime necessitatibus neque nihil nisi nobis nostrum numquam omnis quae quaerat quibusdam quod ratione saepe sed similique soluta suscipit totam ullam veritatis voluptatem voluptatum. Accusamus delectus, dolorem eaque eligendi error eveniet excepturi facilis id illum incidunt iste nobis nulla obcaecati officia porro possimus praesentium quas quidem quos reiciendis repellat saepe sapiente sint temporibus ut vitae voluptas! Libero molestiae numquam optio possimus sunt.</p>
    </div>
</section>


