<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main-info.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/services.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/about-me.css">
    <script src="{{ site.baseurl }}/scripts/navigation-animation.js"></script>
</head>
<body id="section-home">
  {% include header.html %}
  {{ content }}
</body>
</html>
