---
---

@import "media-queries";

:root {
  --dark-color: #272727;
  --mid-color: #5BAE80;
  --midlight-color: #CDEFD3;
  --light-color: #EFFAF1;

  --light-text-color: #FFFFFF;
}

@font-face {
  font-family: Chivo;
  src: url({{ site.baseurl }}/assets/fonts/Chivo-Light.ttf);
}

@font-face {
  font-family: Chivo;
  src: url({{ site.baseurl }}/assets/fonts/Chivo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Chivo;
  src: url({{ site.baseurl }}/assets/fonts/Chivo-LightItalic.ttf);
  font-style: italic;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: "Chivo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 200px;
    height: 200px;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include respond(mobile) {
      flex-direction: column;
      .item:not(:last-child) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    .item {
      flex-grow: 1;
      background-color: var(--mid-color);
      color: var(--light-text-color);
      padding: 16px 0;
      text-align: center;
      cursor: pointer;
      border-color: var(--midlight-color);

      &:hover {
        background-color: var(--dark-color);
      }
    }
  }
}

main {
  padding: 0 48px 64px;
}

section {
  margin-top: 48px;
}

button {
  background-color: var(--mid-color);
  padding: 16px 32px;
  border: none;

  &:hover {
    background-color: var(--dark-color);
    color: var(--light-text-color);
  }
}

a {
  color: var(--dark-color);
}

.header-image {
  width: 100%;
  height: 256px;
  object-fit: cover;
}

.italic {
  font-style: italic;
}

footer {
  background-color: var(--mid-color);
  padding: 4px;
  text-align: center;
  
  p {
    margin: 0;
  }
}
